.git
.github
.vscode
.idea
vendor
node_modules
storage/content
storage/temp
storage/trash
storage/*.db
config/config.php
*.exe
*.log
.DS_Store
Thumbs.db
tests
coverage
.phpunit.result.cache
phpunit.xml
docs/superpowers
